.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

.tab-pane{
  -fx-background-color: linear-gradient(#D9965B, #D98452);
}
.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}

.tab {
  -fx-font-family: Arial;
  -fx-font-size: 18;
  -fx-background-color: #E1AC7A ;
}

.tab:selected {
  -fx-background-color: linear-gradient(#D9965B, #D98452);
  -fx-border-color: transparent;
  -fx-focus-color: transparent;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {-fx-border-color: trasparent;}