.button{
    -fx-background-color:  #f0f0f0;
}

.button:hover{
    -fx-background-color:  #ffffff;
}

.button:pressed {
    -fx-effect: innershadow( three-pass-box , rgba(15, 0, 0, 0.247) , 20, 0.0 , 0 , 1);
}

.combo-box-base
{
    -fx-background-color: #f0f0f0, #f0f0f0, #f0f0f0, #f0f0f0;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}


.combo-box .list-cell 
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
}

.combo-box-popup .list-view 
{
    -fx-background-color: #f0f0f0, #f0f0f0;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-background-color: #f2f2f2;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: #ffffff;
    -fx-text-fill: -fx-text-inner-color;
}